<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>619576085482-4r5so5681j9gi1na1igb5ivmg9i4hdja.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.619576085482-4r5so5681j9gi1na1igb5ivmg9i4hdja</string>
	<key>API_KEY</key>
	<string>AIzaSyAQUKUQsMQPYV8BVh1uyTjZKkKYYXgXfc8</string>
	<key>GCM_SENDER_ID</key>
	<string>619576085482</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-flupro</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-flupro.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:619576085482:ios:63faa9ae4b02a48cca8093</string>
</dict>
</plist>